<div class="slider__warpper">
    <div class="flex__container flex--piplup flex--active" data-slide="1">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub">Computer Vision</p>
          <h1 class="text--big">Image Recognition</h1>
          <p class="text--normal">Automate university's gate opening by detecting a doctor's car plate number matching</p>
        </div>
        <p class="text__background">Image Recognition</p>
      </div>
      <div class="flex__item flex__item--right"></div>
    </div>
    <div class="flex__container flex--blaziken animate--start" data-slide="2">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub">Object Detection</p>
          <h1 class="text--big">Number plate identification</h1>
          <p class="text--normal"></p>
        </div>
        <p class="text__background">Object Detection</p>
      </div>
      <div class="flex__item flex__item--right"></div>
    </div>
    <div class="flex__container flex--dialga animate--start" data-slide="3">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub">You Only Look Once</p>
          <h1 class="text--big">YOLO</h1>
          <p class="text--normal">use of end-to-end neural networks to predict object class probabilities and detect the bounding boxes all at once</p>
        </div>
        <p class="text__background">YOLO</p>
      </div>
      <div class="flex__item flex__item--right"></div>
    </div>
    <div class="flex__container flex--zekrom animate--start" data-slide="4">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub"></p>
          <h1 class="text--big">Improve Customer Service</h1>
          <p class="text--normal"></p>
        </div>
        <p class="text__background">Customer Service</p>
      </div>
      <div class="flex__item flex__item--right"></div>
    </div>
  </div>
  
  <div class="slider__navi">
    <a href="javascript:void(0);"  class="slide-nav active" data-slide="1"></a>
    <a href="javascript:void(0);" class="slide-nav" data-slide="2"></a>
    <a href="javascript:void(0);" class="slide-nav" data-slide="3"></a>
    <a href="javascript:void(0);" class="slide-nav" data-slide="4"></a>
  </div>