<nav class="navbar navbar-expand-custom navbar-mainbg">

    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
        <i class="fas fa-bars text-red"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);" routerLink="/home"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="javascript:void(0);" routerLink="/home"><i class="far fa-address-book"></i>Detection</a>
            </li>
            <span class="navbar-brand navbar-logo" ></span>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" routerLink="/contact"><i class="far fa-clone"></i>Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" routerLink="/github"><i class="far fa-calendar-alt"></i>GitHub</a>
            </li>
        </ul>
    </div>
</nav>